################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdvokatenBlazor/.vs/AdvokatenBlazor/FileContentIndex/ca315caa-ad1c-4a15-a85d-00cfa5a02626.vsidx
