################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Ignore Visual Studio files
.vs/
.vs2019/
.vs2022/

# Ignore version control files (SourceSafe)
*.vspscc
*.vssscc

# Ignore VS Code settings folder
.vscode/

# Ignore specific Visual Studio FileContentIndex files
AdvokatenBlazor/.vs/AdvokatenBlazor/FileContentIndex/*