@page "/Stamtræ"
@rendermode InteractiveServer

<link rel="stylesheet" href="Stamtrae.css" />


<div class="form-section">
    <label class="labelClass">
        Hvad er dit navn?
        <input type="text" id="nameField" @bind="Client.Name" />
    </label>

    <label class="labelClass">
        Har du en ægtefælle?
        <input type="checkbox" id="marriageField" @onchange="OnMarriedChanged" />
    </label>

    <label class="labelClass">
        Hvor mange børn har du?
        <input type="number" id="childrenField" @onchange="OnKidsAmountChanged" />
    </label>

    <label class="labelClass">
        Har du et testamente?
        <input type="checkbox" id="testamentField" @bind="Client.Testament" />
    </label>
</div>


@if (Client.KidsAmount > 0 || Client.Married == true)
{
    <h4 class="StamtræTitle" style="text-align: center; color: #444;">Dit genererede stamtræ:</h4>


    <div class="inheritance-tree">
            <div class="married-grid">
                <div class="inheritor-box">
                    <h5>Ægtefælle</h5>
                    <label>
                        Navn:
                    <input type="text" class="nameTxt" @bind="HeirRepository.Instance.Spouse.Name" />
                        Arveprocent:
                        <label style="color:blue">
                            @InheritanceCalc.CalculateInheritancePercentageForMarried()%
                        @{
                            HeirRepository.Instance.Spouse.InheritancePercentage = InheritanceCalc.CalculateInheritancePercentageForMarried();
                        }
                        </label>
                    </label>
                </div>
            </div>

        <div class="divider"></div>

        @for (int i = 0; i < HeirRepository.Instance.ReturnKids().Count; i++)
        {
            var heir = HeirRepository.Instance.ReturnKids()[i];
            heir.InheritancePercentage = InheritanceCalc.CalculateInheritancePercentageForKid();

            <div class="kids-grid">
                <div class="inheritor-box">
                    <h5>Barn @(i + 1)</h5>
                    <label>
                        Navn:
                        <input type="text" class="nameTxt" @bind="heir.Name" />
                        Arveprocent:
                        <label class="PercentageTxt" style="color:blue">
                            @InheritanceCalc.CalculateInheritancePercentageForKid()%
                        </label>
                    </label>
                </div>
            </div>
        }
    </div>
}

@code {

    private void OnKidsAmountChanged(ChangeEventArgs input)
    {
        int newKidsAmount = int.Parse(input.Value.ToString() ?? "0");
        Client.KidsAmount = newKidsAmount;

        HeirRepository.Instance.GenerateHeirs(HeirType.Kid);
    }

    private void OnMarriedChanged(ChangeEventArgs input)
    {
        bool isMarried = (bool)input.Value;
        Client.Married = isMarried;

        if (isMarried)
        {
            HeirRepository.Instance.GenerateHeirs(HeirType.Spouse);
        }

        else if (!isMarried)
        {
            HeirRepository.Instance.DeleteSpouse();
        }
    }
}